<table cellpadding="0" cellspacing="0" border="0" width="400px" bgcolor="#ffffff">
  <tr>
    <td colspan=3><img src="https://dl.dropbox.com/u/1088392/logo200.jpg" alt="FoodStrap.me"/><hr/>
    </td>
  </tr>
  <tr>
    <td colspan=3><font style="font-size: 20px; color: #222222; font-family: helvetica, arial, sans-serif;" size="3" face="helvetica, arial, sans-serif" color="#222222">Hello <%= @owner.name %>, you have a new order!</font></td>
  </tr>

  <tr><td><font style="font-size: 14px; color: #222222; font-family: helvetica, arial, sans-serif;" size="3" face="helvetica, arial, sans-serif" color="#222222">Customer e-mail:</font></td><td colspan=2><a href="mailto:<%= @order.customer.email%>" style="font-size: 14px; color: #222255; font-family: helvetica, arial, sans-serif;"><font style="font-size: 14px; color: #222255; font-family: helvetica, arial, sans-serif;" size="3" face="helvetica, arial, sans-serif" color="#222255"><%= @order.customer.email %></font></a></td></tr>

  <tr><td colspan=3><font style="font-size: 14px; color: #222222; font-family: helvetica, arial, sans-serif;" size="3" face="helvetica, arial, sans-serif" color="#222222">Products:</font></td></tr>

  <% @order.items.each do |item| %>
    <tr><td></td><td><font style="font-size: 14px; color: #222222; font-family: helvetica, arial, sans-serif;" size="3" face="helvetica, arial, sans-serif" color="#222222"><%= item.name %></font></td><td><font style="font-size: 14px; color: #222222; font-family: helvetica, arial, sans-serif;" size="3" face="helvetica, arial, sans-serif" color="#222222"><%= item.quantity %></font></td></tr>
  <% end %>

  <tr><td colspan=3>&nbsp;</td></tr>
  <tr><td colspan=3><a href="<%= manage_orders_store_url(@order.store, :anchor => "order_#{@order.id}") %>" style="font-size: 14px; color: #222255; font-family: helvetica, arial, sans-serif;"><font style="font-size: 14px; color: #222255; font-family: helvetica, arial, sans-serif;" size="3" face="helvetica, arial, sans-serif" color="#222255"><b>Manage this order on FoodStrap.me</b></font></a></td></tr>
  <tr><td colspan=3><hr/><font style="font-size: 9px; color: #222222; font-family: helvetica, arial, sans-serif;" size="3" face="helvetica, arial, sans-serif" color="#222222">This service is brought to you by FoodStrap.me</font></td></tr>
</table>

